@model Web_cross_platform.Models.CommonDataModel
@{
    ViewData["Title"] = "PR3";
}
<h1>@ViewData["Title"]</h1>


<form method="post" enctype="multipart/form-data" asp-controller="Labs" asp-action="PR3">
    <div class="form-outline">
        <label for="pdata">Data</label>
        <textarea class="form-control" id="pdata" rows="4" asp-for="Data"></textarea>
        <label class="form-label" for="pdata">Message</label>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Submit</button>
</form>

@if (Model != null)
{
    <div class="container mt5">
        @if (Model.Calculated)
        {
            <div class="row">
                <label for="presponse">Response</label>
                <input type="text" id="presponse" value="@Model.Response">
            </div>
        }
        @if (!string.IsNullOrEmpty(Model.ErrorValue))
        {
            <div class="row">
                <label for="perror"></label>
                <input type="text" id="perror" value="@Model.ErrorValue">
            </div>
        }
    </div>
}