@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Привіт</h1>
    <p>Проєкт розроблено з метою демонстрації лабораторних робіт студентом групи ІПЗ-41 Роздобудько Олександром(16 варіант).</p>
</div>
